<div class="msgsEnvRec">
    <div *ngFor="let msgs of chatSelecionado; index as i">
        <div class="d-flex" [ngClass]="msgs.fromMe? 'justify-content-end' : undefined">
            <div class="msgEnviada" [ngClass]="{'fromMe': msgs.fromMe === true}">
                <p>{{msgs.text}}</p>
                <img *ngIf="msgs.imagemBase64 != undefined" style="height: auto; width: 250px;" [src]="msgs.imagemBase64"
                    alt="imgs" />
                <span class="time-right">{{msgs.messageTimestamp | date:'dd/MM/YYYY HH:mm'}} </span><br>
            </div>
        </div>
    </div>
</div>

<div class="mensagemInput">
    <form action="" class="mensagemForm">
        <textarea class="form-control mensagemArea" oninput='if(this.scrollHeight > this.offsetHeight) this.rows += 1'
            type="text" name="mensagem" [(ngModel)]="mensagem.textMessage.text"></textarea>

        <button  [disabled]="nenhumContatoSelecionado()" type="button"
            class="btn btn-outline-dark botoes" (click)="enviarVariasMensagemTexto()">
            <i class="bi bi-send-fill" style="font-size: 25px"></i>
        </button>
        <button  type="button" class="btn btn-outline-dark botoes">
            <i class="bi bi-mic-fill" style="font-size: 25px"></i>
        </button>
    </form>
</div>