<head>
    <title>Enviar Mensagem</title>
</head>

<mat-drawer-container>
    <mat-drawer mode="side" opened style="padding: 15px;">
        <app-pesquisa-contatos (contatosAtivosChange)="updateContatosAtivos($event)"></app-pesquisa-contatos>
    </mat-drawer>
    <mat-drawer-content> 

        <div *ngIf="mensagemIndividual()">
        <app-enviar-mensagem-individual [instance]="nomeInstancia" [contato]="contatosAtivos[0]"></app-enviar-mensagem-individual>
        </div>
        <div *ngIf="!mensagemIndividual()">
            <!-- <app-enviar-mensagem-individual [contatosAtivos]="contatosAtivos"></app-enviar-mensagem-individual> -->
           <app-enviar-mensagem-varios [instance]="nomeInstancia" [contatosAtivos]="contatosAtivos"></app-enviar-mensagem-varios>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

