
        
        <div class="msgsEnvRec">
          
            <h4>Mensagem para Vários Contatos</h4>
            <h6>Selecionados:</h6>
            <ul class="list-group list-group-flush">
                <div *ngFor="let contato of contatosAtivos">
                <li class="list-group-item">{{contato.nome}}</li>
            </div>
              </ul>
            <div *ngFor="let msgs of msgsEnviadas; index as i" class="msgEnviada darker">
                <p>{{msgsEnviadas.at(i)}}</p>
                <span class="time-right">11:01</span>
            </div>
        </div>

        <div class="mensagemInput">
            <form action="" class="mensagemForm">
                <textarea class="form-control mensagemArea"
                    oninput='if(this.scrollHeight > this.offsetHeight) this.rows += 1' type="text" name="mensagem"
                    [(ngModel)]="mensagem.textMessage.text"></textarea>

                    <button [disabled]="nenhumContatoSelecionado()" type="button" class="btn btn-outline-dark botoes"
                            (click)="enviarVariasMensagemTexto()">
                      <i class="bi bi-send-fill" style="font-size: 25px"></i>
                    </button>
                    <button [disabled]="nenhumContatoSelecionado()" type="button" class="btn btn-outline-dark botoes" (click)="gravarAudio()">
                        <i class="bi bi-mic-fill" style="font-size: 25px"></i>
                    </button>
                    <label *ngIf="!nenhumContatoSelecionado()" for="filePicker" class="custom-file-upload" class="btn btn-outline-dark botoes">
                        <i class="bi bi-card-image" style="font-size: 25px" ></i>
                    </label>
                    <input type="file" id="filePicker" class=" upload input"  (change)="EscolherImg($event)" >
               
            </form>
        </div>